*.txt
*-lock.*
*.sublime-workspace
*.ini
*.inf
*.zip
*.rar
*.7z
*.ai
*.psd
*.ts
*.mp4

application/**
test/
tests/
output/
install/
.cache/
bower_components/
node_modules/
build/

!application/package.json
!application/favicon.*
!application/bin/
!application/bin/*.exe