.btn {
	&-add,
	&-close,
	&-download {
		background-color: transparent;
		appearance: none;
		border: unset;
		color: #fff;
		text-shadow: -1px -1px 1px rgb(255 255 255 / 30%), 1px 1px 1px #000000;
		&,
		&:focus,
		&:focus-visible {
			outline: unset;
		}
		&:disabled {
			color: #aaa;
		}
	}
}