style
	include ../../test/css/component.css
slot
.downloader
	.image
		.block_image
	.links
		.block_input
			input.url(pseudo="-webkit-rutube-link" type="text" value="" placeholder="URL видео RUTUBE")
			button(pseudo="-webkit-rutube-download" disabled title="СКАЧАТЬ").btn.btn-download.icon-download
		.block_text.text-right
			.title.text-left
	.progress_bar
		.block_progress
			.block_progress--wrapp
				.block_progress_text.text-center
				progress.progress(pseudo="-webkit-rutube-progress" min="0" max="100")
			button(pseudo="-webkit-rutube-save" disabled title="СОХРАНИТЬ").btn.btn-save.icon-save
		.block_result.text-right
			|&#160;
			span
	.loader
	button.btn.btn-close.icon-close(pseudo="-webkit-rutube-close" title="УДАЛИТЬ")