doctype html
html(lang="ru")
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		base(href="/")
		link(rel="stylesheet" type="text/css" href="css/main.css")
	body
		header.clearfix
			h1.text-center
				|Скачать видео
		main.clearfix
			.wrapper.row
				#app
					.downloader
						.image
							.block_image
						.links
							.block_input
								input.url(type="text" value="" placeholder="https://rutube.ru/video/1a4521bd43df1a02f2f3b71ff8875496/")
							.block_text.text-right
								.title.text-left
									|&#160;
								button.btn.icon-download
						.progress
							.block_progress
								progress.progress(min="0" max="100" value="0")
						.loader

		footer.clearfix
			p.footer-block.footer_left.text-left
				a.icon-github(href="https://github.com/ProjectSoft-STUDIONIONS" target="_blank")
					span
						|Rutube DL
			p.footer-block.footer_center.text-center
				|© 2008 - all
			p.footer-block.footer_right.text-right
				|Developed by:
				=" "
				a(href="https://github.com/ProjectSoft-STUDIONIONS" target="_blank")
					|ProjectSoft
		script(src="js/main.js")