doctype html
html(lang="ru")
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		base(href="/")
		link(rel="stylesheet" type="text/css" href="css/main.css?" + hash)
	body
		header.clearfix
			h1.text-center
				a(href="https://rutube.ru/" target="_blank" title="Перейти на RUTUBE")
				|Скачать видео
				.buttons
					button.btn.btn-import.icon-import(title="ИМПОРТ")
					button.btn.btn-add.icon-add(title="ДОБАВИТЬ")
		main.clearfix
			.wrapper.row
				#app
		footer.clearfix
			p.footer-block.footer_left.text-left
				a.icon-github(href="https://github.com/ProjectSoft-STUDIONIONS/rutube-nwjs-downloader/releases/latest" target="_blank" title="Перейьи в репозиторий приложения")
					span
						|Rutube DL
			p.footer-block.footer_center.text-center
				|© 2008 - all
			p.footer-block.footer_right.text-right
				|Developed by:
				=" "
				a(href="https://github.com/ProjectSoft-STUDIONIONS" target="_blank" title="Перейти на страницу GitHub разработчика")
					|ProjectSoft
		.settings
		script(src="js/rutube-video.js?" + hash)
		script(src="js/main.js?" + hash)